/* The below is an importing fonts through CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "abstracts/colors";
@import "partials/base";

@import "specificPages/homePage";
@import "specificPages/aboutUsPage";
@import "specificPages/servicesPage";
@import "specificPages/portfolioPage";
@import "specificPages/testimonialPage.scss";
@import "specificPages/contactPage.scss";

/*  below is how you declare variables. Instead of declaring them in the body */

.container {
  max-width: 1500px;
  margin: auto;
  // border: 1px solid black;
  /* Remember to remove */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* header */
.header {
  background-color: $color-2;
  padding: 12px 0;
  line-height: 1.5;
  font-weight: 600;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #000;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: $color-text-white;
}

.header .nav ul li a:hover {
  padding: 10px;
}

/* navbar button */
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}

.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler span::after {
  transform: translateY(6px);
}

/* footer */
.footer {
  background-color: #34362b;
  padding: 70px 0;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
}

.footer-col h4 {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* disposables */

.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.looker {
  border: 1px solid black;
}

.hide-content {
  display: none;
}

.disposables {
  height: 50vh;
  background-color: rgba(255, 0, 0, 0.123);
}

@import "partials/mediaqueries";
