/* The below is an importing fonts through CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* lightest shade */
/* second lightest shade */
/* in the middle */
/* second darkest shade */
/* darkest shade */
/* new */
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  background-color: #a3b18a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*  below is how you declare variables. Instead of declaring them in the body */
.container {
  max-width: 1500px;
  margin: auto;
  /* Remember to remove */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* header */
.header {
  background-color: #a3b18a;
  padding: 12px 0;
  line-height: 1.5;
  font-weight: 600;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #000;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #000;
  padding: 10px 0;
  transition: all 0.5s ease;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #fff;
}

.header .nav ul li a:hover {
  padding: 10px;
}

/* navbar button */
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}

.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: #fff;
  display: block;
  margin: auto;
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.nav-toggler span::before {
  transform: translateY(-6px);
}

.nav-toggler span::after {
  transform: translateY(6px);
}

.home-page {
  margin: 10px auto 30px;
  display: flex;
  flex-wrap: wrap;
}

.home-page_logo {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 10px;
}

.home-page_information {
  padding: 15px 20px;
  flex-grow: 1;
  flex-basis: 50%;
}

/* About us page */
.about_us-page {
  margin: 20px auto;
  padding: 20px 30px;
}

/* Services page */
.services-page {
  margin: 20px auto;
  padding: 20px 30px;
}

/* portfolio page */
.portfolio-page {
  margin: 20px auto;
  padding: 20px 30px;
}

/* testimonials page */
.testimonials-page {
  margin: 20px auto;
  padding: 20px 30px;
}

/* contact page */
.contact-page {
  margin: 20px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_decoration {
  margin-right: 10px;
  padding: 20px;
  line-height: 1.8;
}

.contact_decoration a {
  color: #3a3a3a;
}

.contact_decoration a:hover {
  color: #fff;
}

.contact_form {
  margin-left: 10px;
  padding: 20px;
}

.main__contact {
  position: relative;
  height: 80%;
  margin-top: 10px;
}

.contact__heading {
  position: absolute;
  margin: 5px;
  width: 40%;
}

.contact__header {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #000000c4;
  padding: 10px 0 0 10px;
  /* display: grid; */
}

.contact__links {
  font-weight: 500;
}

.current {
  position: relative;
  border: 1px solid black;
}

.contact__inputs {
  position: absolute;
  right: 0;
  text-align: left;
  margin: 5px;
  width: 55%;
  display: block;
  padding: 10px;
  font-size: 14px;
}

.input {
  margin: 6px;
  border: none;
  padding: 10px;
  width: 90%;
  outline: none;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 10%;
}

.input:active {
  border: 0.5px solid black;
}

.input:hover {
  border: 0.5px solid black;
}

.input__message {
  height: 100px;
}

.contact__submit {
  background-color: #a3b18a;
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  color: #0000005e;
}

.contact__submit:hover {
  color: #000000;
}

.contact__submit:active {
  transform: scale(0.9);
}

.contact__links {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: left;
  font-size: 10px;
  padding-top: 30%;
}

.error_message {
  color: #ff0000;
  font-size: 0.8rem;
  padding-left: 10px;
}

.success_message {
  color: #000000;
  font-size: 0.8rem;
  padding-left: 10px;
  padding-bottom: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.robot-check {
  background-color: #fff;
  width: 500px;
  height: 300px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  position: relative;
}

.robot-check-click {
  background-color: #eeeeee;
  width: 350px;
  border: 0.5px solid #e4e4e4;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.recaptcha {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recaptcha-check-presentation {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.recaptcha-check-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #208bd3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.8s linear infinite;
  /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.recaptcha-check-confirm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 40px;
}

/* footer */
.footer {
  background-color: #34362b;
  padding: 70px 0;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
}

.footer-col h4 {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* disposables */
.looker {
  border: 1px solid black;
}

.hide-content {
  display: none;
}

.disposables {
  height: 50vh;
  background-color: rgba(255, 0, 0, 0.123);
}

/* navbar responsiveness */
@media (max-width: 1000px) {
  .nav-toggler {
    display: block;
  }

  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .header .nav.open {
    visibility: visible;
  }

  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .contact_decoration {
    margin-bottom: 20px;
  }
}
/* This is the home page. the face of the operation */
@media (min-width: 751px) {
  .home-page_logo img {
    width: clamp(100px, 20vw, 300px);
    height: clamp(100px, 20vw, 300px);
  }
}
@media (max-width: 750px) {
  .home-page_logo img {
    width: 250px;
    height: 250px;
  }

  .home-page {
    margin: 10px auto 30px;
    flex-direction: column;
  }

  .home-page_information p {
    text-align: center;
  }

  .home-page_information h3 {
    text-align: center;
  }

  .home-page_information li {
    padding-left: 40%;
  }

  .header .nav ul li a:hover {
    padding-left: 10px;
  }
}
/* footer responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 25%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .header {
    height: 10vh;
  }

  section {
    height: 60vh;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
  }
}