/* navbar responsiveness */
@media (max-width: 1000px) {
  .nav-toggler {
    display: block;
  }
  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
  .contact_decoration {
    margin-bottom: 20px;
  }
  .hover-underline-animation-header {
    // display: inline-block;
    position: relative;
    // color: #0087ca;
  }

  .hover-underline-animation-header:after {
    content: "";
    position: absolute;
    width: 15%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-text-white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation-header:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

/* This is the home page. the face of the operation */
@media (min-width: 751px) {
  .home-page_logo img {
    width: clamp(100px, 20vw, 300px);
    height: clamp(100px, 20vw, 300px);
  }
}
@media (max-width: 750px) {
  .home-page_logo img {
    width: 250px;
    height: 250px;
  }
  .home-page {
    margin: 10px auto 30px;
    flex-direction: column;
  }
  .home-page_information p {
    text-align: center;
  }
  .home-page_information h3 {
    text-align: center;
  }
  .home-page_information li {
    padding-left: 40%;
  }
  .header .nav ul li a:hover {
    padding-left: 10px;
  }
}

/* footer responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 25%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

// full page

@media (min-width: 1600px) {
  // testimonial page
  .reviews {
    height: 55vh;
  }
  .header {
    height: 10vh;
  }

  section {
    height: 60vh;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
    padding-top: 50px;
  }
}

// Phone setup

@media (max-width: 750px) {
  // others

  // Testimonial page
  .declaration,
  .reviews,
  .review-box {
    min-width: 350px;
  }

  .reviews {
    overflow: visible;
  }

  .declaration {
    line-height: 2;
  }
  // portfolio page
  .project-ls,
  .project-rs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .project-information {
    margin: 10px 0;
  }

  .project-images {
    width: 100%;
    height: 100%;
  }

  // testimonial page
  .testimonials-page {
    flex-wrap: wrap;
  }
  .declaration {
    width: 100%;
  }
  .reviews {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
