/* About us page */
.about_us-page {
  margin: 20px auto;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  line-height: 2; // might not need this. check it out when all the info is put in place

  // border: 1px solid;
  text-align: center;
  padding: 30px;
}

.about_us-heading {
  font: 2.5em sans-serif;
}

.about_us-sub-heading {
  font: 1.5em sans-serif;
}

.about_us-page p {
  max-width: 75%;
}
