/* Services page */
.services-page {
  margin: 20px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // line-height: 50px; // might not need this. check it out when all the info is put in place

  // border: 1px solid;
  text-align: center;
  padding: 30px;
}

.services_page-heading {
  font: 1.5em sans-serif;
  line-height: 1.8;
}

.services_page-text {
  max-width: 60%;
}

// this is the actual services

.services_page-sub-heading {
  font: 1.2em sans-serif;
  text-align: center;
}

.services {
  // border: 1px solid;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // width: 80%;
  padding: 20px 0;
  text-align: left;
}

.gardening {
  // border: 1px solid;
  padding: 15px;
  max-width: 300px;
  line-height: 20px;
}

.landscaping {
  // border: 1px solid;
  padding: 15px;
  max-width: 300px;
  line-height: 20px;
}

.irrigation {
  // border: 1px solid;
  padding: 15px;
  max-width: 300px;
  line-height: 20px;
}

.rubble {
  // border: 1px solid;
  padding: 15px;
  max-width: 300px;
  line-height: 20px;
}

.services_page-info {
  font: 0.9em sans-serif;
}

// vectors

.vector {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
