/* contact page */
.contact-page {
  margin: 20px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// the div to the left

.contact_decoration {
  max-width: 1000px;
  margin-right: 10px;
  padding: 20px;
  line-height: 1.8;
}

.contact_decoration a {
  color: $color-text-links;
}

.contact_decoration a:hover {
  color: $color-text-white;
}

// the div to the right containing the actual form

.contact_form {
  // background-color: blue;
  // border: 1px solid;
  margin-left: 10px;
  padding: 20px;
  min-width: 400px;
}

.main__contact {
  position: relative;
  height: 80%;
  margin-top: 10px;
}

.contact__heading {
  position: absolute;
  margin: 5px;
  width: 40%;
}

.contact__header {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #000000c4;
  padding: 10px 0 0 10px;
  /* display: grid; */
}
.contact__links {
  font-weight: 500;
}
.current {
  position: relative;
  border: 1px solid black;
}

.contact__inputs {
  position: absolute;
  right: 0;
  text-align: left;
  margin: 5px;
  width: 55%;
  display: block;
  padding: 10px;
  font-size: 14px;
}
.input {
  margin: 6px;
  border: none;
  padding: 10px;
  width: 90%;
  // background-color: var(--color-primary-dark);
  outline: none;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 10%;
}
.input-active {
  border-bottom: 5px solid green;
}
.input:hover {
  border-bottom: 5px solid green;
}
.input-error {
  border-bottom: 5px solid red;
}
.input__message {
  height: 100px;
}

.contact__submit {
  background-color: $color-2;
  padding: 8px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 30px;
  color: $color-button;
  font-size: 20px;
}
.contact__submit:hover {
  color: $color-button-dark;
}
.contact__submit:active {
  transform: scale(0.9);
}

.contact__links {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: left;
  font-size: 10px;
  padding-top: 30%;
}

// contact page error/success messages

.error_message {
  color: $color-warning;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
}
.success_message {
  color: $color-success;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 10px;
  padding-bottom: 10px;
}

// overlay section

.robot-check {
  background-color: #fff;
  width: 500px;
  height: 300px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2;
  position: relative;
}

.robot-check-click {
  background-color: #eeeeee;
  width: 350px;
  border: 0.5px solid #e4e4e4;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.recaptcha {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recaptcha-check-presentation {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.recaptcha-check-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // z-index: 1;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #208bd3;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.8s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.recaptcha-check-confirm {
  // background-color: lightblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit {
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 40px;
}
