/* testimonials page */
.testimonials-page {
  margin: 20px auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.declaration {
  margin: 5px;
  padding: 20px;
  text-align: center;
  width: clamp(400px, 40%, 600px);
  // delete the following
  // border: 1px solid;
  // background-color: red;
}

// this is the actual outputted reviews

.reviews {
  margin: 5px;
  // padding: 0 30px 20px;
  width: clamp(450px, 100%, 800px);
  height: 55vh;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  position: relative;
  /* delete the following */
  // border: 1px solid;
  // background-color: red;
}

.review-box {
  padding: 10px;
  display: flex;
  flex-direction: column;
  // width: clamp(350px, 100%, 650px);
  width: clamp(350px, 100%, 100%);
  margin: 0 10px;
  line-height: 1.5;
  border-bottom: 5px solid lightgrey;
  /* delete the following */
  background-color: white;
}

.review-title {
  font-weight: 900;
  padding: 5px;
}

.review-message {
  padding: 5px;
}

// This is the input field for the reviews

.review-input {
  margin: auto;
  width: 50%;

  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  // delete the following
  // background-color: blue;
}

.review-input-box {
  padding: 10px;
  margin-bottom: 10px;
}

.review__submit {
  background-color: $color-2;
  // width: 50%;
  color: $color-button;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 15px;
}
.review__submit:hover {
  color: $color-button-dark;
}
.review__submit:active {
  transform: scale(0.9);
}

.seeAll {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  text-align: right;
  background-color: #a3b18ab2;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: end;
  // border: 1px solid;
}

.seeAllLink {
  padding: 10px;
}

// see all the reviews overlay

.seeAllReviewsContainer {
  background-color: red;
  width: 80%;
  height: 80%;
}

// disposables

.inline {
  display: inline-block;
}
