$color-1: #dad7cd; /* lightest shade */
$color-2: #a3b18a; /* second lightest shade */
$color-3: #588157; /* in the middle */
$color-4: #3a5a40; /* second darkest shade */
$color-5: #344e41; /* darkest shade */
$color-text-black: #000;
$color-text-white: #fff;

$color-text-links: #3a3a3a;

/* new */
$color-1-1: #2f3240;

// buttons
$color-button: #0000005e;
$color-button-dark: #000000;

// warning color
$color-warning: #ff0000;
$color-success: #000000;
